.profile-img {
    width: 100%;
    height: auto;
}

.main-content {
    display: flex;
    justify-content: center;
}

.first-content {
    width: 40%;
    padding: 20px;
    background-color: rgb(149, 153, 135);
}

.first-content p,
.first-content h2,
.first-content ul {
    color: #FFFFFF
}

.second-content {
    width: 60%;
    background-color: rgb(252, 249, 244);
}

.second-section p,
.second-section h2,
.second-section ul {
    color: rgb(117, 121, 105)
}

.name {
    background-color: rgb(178, 182, 164);
    padding: 20px;
    text-align: center;
}

.second-section {
    padding-top: 40px;
    padding-left: 40px;
}

.text-bold {
    font-weight: bold;
}

.text-italic {
    font-style: italic;
}

footer {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    background-color: antiquewhite;
    padding: 20px;
}